//---------------------------TYPOGRAPHY START--------------------------------
.heading {
  &-big {
    @apply text-4xl uppercase tracking-[-2px] md:text-5xl lg:text-6xl 2xl:text-7xl 2xl:tracking-[-4px];
  }
  &-primary {
    @apply text-2xl font-medium uppercase tracking-[-2px] md:text-3xl 2xl:text-4xl;
  }
  &-secondary {
    @apply text-lg font-medium uppercase lg:text-2xl;
  }
  &-sub {
    @apply text-xs font-medium uppercase md:text-sm;
  }
}
.plaintext {
  @apply text-sm text-grey;
}
//---------------------------TYPOGRAPHY END--------------------------------
.btn {
  &-primary {
    @apply block whitespace-nowrap rounded-full border border-dark bg-white px-6 py-3 text-center text-sm uppercase text-dark transition-all duration-300 ease-out-quad;
    &:hover {
      @apply bg-dark text-white;
      svg {
        circle {
          @apply stroke-white;
        }
      }
    }
    svg {
      circle {
        @apply stroke-dark;
      }
    }
  }
  &-secondary {
    @apply block whitespace-nowrap rounded-full bg-dark px-6 py-3 text-center text-sm uppercase text-white transition-all duration-300 ease-out-quad;
    &:hover {
      @apply bg-grey;
    }
    svg {
      circle {
        @apply stroke-white;
      }
    }
  }
  &-underline {
    @apply text-sm uppercase  underline;
  }
  &-small {
    @apply rounded-full border border-dark px-5 py-2 transition-all duration-300 ease-in-out;
    &:hover {
      @apply bg-dark text-white;
    }
  }
  &-float {
    @apply relative flex h-12 w-12 translate-y-0 items-center justify-center rounded-full bg-dark;
    &:after {
      content: "";
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
  }
}
.swiper {
  .swiper-buttons {
    @apply h-[30px] lg:h-[50px];
  }
  .swiper-buttons-centered {
    @apply absolute left-0 right-0 top-0 bottom-0 z-10 m-auto flex justify-between px-2 lg:px-5;
    button {
      @apply h-[30px] w-[30px] transform rounded-full border border-dark bg-white bg-opacity-70 pl-2 text-black shadow backdrop-blur-sm transition-all duration-300 ease-out-quad lg:h-[50px] lg:w-[50px] lg:p-3 lg:pl-4;
      svg {
        @apply h-full w-3 lg:w-4;
        path {
          fill: #101820;
        }
      }
      &:hover {
        @apply bg-dark;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
    .sw-prev {
      @apply pr-4 lg:translate-x-[-150%];
    }
    .sw-next {
      @apply pr-4  lg:translate-x-[150%];
    }
    .swiper-button-disabled {
      @apply invisible opacity-0;
    }
  }
  .swiper-buttons-bottom {
    @apply z-10 space-x-3;
    button {
      @apply h-[50px] w-[50px] transform  rounded-full border border-dark bg-white bg-opacity-70 p-3 pl-4 text-black shadow backdrop-blur-sm transition-all duration-300 ease-out-quad;
      svg {
        @apply h-full w-4;
        path {
          fill: #101820;
        }
      }
      &:hover {
        @apply bg-dark;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
    .swiper-button-disabled {
      @apply cursor-default opacity-60;
    }
  }
  &:hover {
    .sw-prev,
    .sw-next {
      @apply translate-x-0;
    }
  }
}

//---------------------------BUTTONS END--------------------------------
.input-wrapper {
  label {
    @apply mb-1 block text-sm text-dark;
  }
}
.input {
  &-primary {
    @apply w-full border border-grey-light bg-white px-3 py-2 outline-none transition-all duration-300 ease-in-out 2xl:py-3;

    &:hover {
      @apply bg-light;
    }
  }
  &-checkbox {
    @apply h-4 w-4;
  }
  &-range {
    @apply w-full;
  }
  &-color {
    @apply relative h-6 w-6 cursor-pointer appearance-none rounded-full border border-grey-light;
    &:after {
      content: "";
      @apply invisible absolute left-1/2 top-1/2 h-8 w-8 -translate-x-1/2 -translate-y-1/2 scale-95 rounded-full border border-dark opacity-0 transition-all duration-300 ease-out-quad;
    }
    &:checked {
      &:after {
        @apply visible scale-100 opacity-100;
      }
    }
  }
}
.radio-primary {
  @apply h-5 w-5;
}
//---------------------------INPUTS END--------------------------------

.section {
  &-container {
    @apply mx-auto max-w-[1920px] px-5 md:px-10 lg:px-14 2xl:px-16;
    &-inner {
      @apply px-5 md:px-10 lg:px-24 2xl:px-48;
    }
  }
  &-distance {
    @apply mt-32 md:mt-40 lg:mt-56 2xl:mt-72;
    &-bottom {
      @apply mb-32 md:mb-40 lg:mb-56 2xl:mb-72;
    }
  }
  &-title-distance {
    @apply py-12 md:my-16;
  }
}
.select {
  &-primary {
    @apply relative flex cursor-pointer appearance-none items-center rounded-full border border-dark px-7 py-2 outline-none;
  }
  &-secondary {
    @apply flex w-full cursor-pointer appearance-none items-center border border-grey-light px-3 py-3 outline-none;
  }
}
.textarea {
  @apply w-full border border-grey-light px-3 py-3 text-grey outline-none;
}
.link {
  &-dark {
    @apply relative;
    &:after {
      content: "";
      @apply absolute -bottom-1 left-1/2 h-0 w-0 -translate-x-1/2 rounded-full bg-dark transition-all duration-300 ease-in-out;
    }
    &:hover {
      &:after {
        @apply h-px w-full;
      }
    }
  }
  &-light {
    @apply relative;
    &:after {
      content: "";
      @apply absolute -bottom-1 left-1/2 h-0 w-0 -translate-x-1/2 rounded-full bg-light transition-all duration-300 ease-in-out;
    }
    &:hover {
      &:after {
        @apply h-px w-full;
      }
    }
  }
}
.counter {
  @apply flex items-center rounded-full border border-dark p-1;
  &.counter-big {
    @apply flex items-center rounded-full border border-dark p-1;
    .counter-btn {
      @apply flex h-8  w-12 items-center justify-center;
    }
    .counter-number {
      @apply mx-1 text-sm md:mx-6;
    }
  }
  &-btn {
    @apply flex h-6 w-7 items-center justify-center md:w-10;
  }
  &-number {
    @apply mx-1 text-sm md:mx-2;
  }
}
.favourite {
  &.active {
    svg {
      fill: black;
    }
  }
}
.text-error {
  @apply mt-1 text-xs text-red-500;
}
.page-icon {
  @apply absolute;
  &.p {
    img {
      @apply w-[40px] lg:w-[80px] 2xl:w-[100px];
    }
  }
  &.o {
    img {
      @apply w-[60px] lg:w-[90px] 2xl:w-[120px];
    }
  }
  &.m {
    img {
      @apply w-[150px] lg:w-[200px] 2xl:w-[250px];
    }
  }
  &.big-o {
    img {
      @apply w-[50px] md:w-[60px] lg:w-[80px] 2xl:w-[120px];
    }
  }
}
