.input-range-number {
  @apply w-full border-b border-grey-light text-grey outline-none;
  -moz-appearance: textfield;
  &:focus {
    @apply border-dark;
  }
}

.input-range-number::-webkit-outer-spin-button,
.input-range-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* rail style */
.vue-slider-rail {
  background-color: #101820 !important;
  border-radius: 15px;
}

/* process style */
.vue-slider-process {
  background-color: #101820 !important;
  border-radius: 15px;
}
.vue-slider-dot-handle {
  box-shadow: #101820 !important;
}
.vue-slider-dot-handle-focus {
  box-shadow: 0px 0px 1px 2px rgb(16 24 32 / 0%) !important;
}
/* mark style */
.vue-slider-mark {
  z-index: 4;

  &:first-child,
  &:last-child {
    .vue-slider-mark-step {
      display: none;
    }
  }

  @at-root &-step {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #101820 !important;

    &-active {
    }
  }

  @at-root &-label {
    font-size: 14px;
    white-space: nowrap;

    &-active {
    }
  }
}

/* dot style */
.vue-slider-dot {
  @at-root &-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #101820 !important;
    box-sizing: border-box;
    box-shadow: #101820 !important;

    @at-root &-focus {
      box-shadow: #101820 !important;
    }
    @at-root &-disabled {
      cursor: not-allowed;
      background-color: #101820 !important;
    }
  }

  @at-root &-tooltip {
    @at-root &-inner {
      font-size: 15px;
      white-space: nowrap;
      padding: 2px 5px;
      min-width: 20px;
      text-align: center;
      color: #101820 !important;
      border-radius: 5px;
      border-color: #101820 !important;
      background-color: #101820 !important;
      box-sizing: content-box;
    }
  }

  @at-root &-tooltip-wrapper {
    opacity: 0;
    transition: all 0.3s;
    @at-root &-show {
      opacity: 1;
    }
  }
}
